{% extends "user/base.html" %}
{% block register %}
    <div class="element">
        <div class="card">
            <div class="inner-box" id="card">
                <div class="card-front">
                    <h2>Reset Password</h2>
                    
                    <form method="post">
                        {% csrf_token %}
                        <input type="email" class="input-box" placeholder="email" name="email">
                        <br>
                        <button type="submit" class="sumbit-btn">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock register %}